<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-10 offset-1">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <p>
                <%= err.stack %> 
            </p>
            <h1><%= err.statuscode %></h1>
        </div>
    </div>
</div>